<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <base href="/shopping-list/" />
  <title>Document</title>
  <style>
    .error {
      color: red;
      display: none;
    }
    a {
      color: black;
    }

    a:hover {
      text-decoration: none;
      color: black;
    }
  </style>
</head>
<body ng-app="ShoppingList">
  <div class="jumbotron">
  <h1 class="display-3"><a href="https://github.com/Chaotikaa/shopping-list">Shopping List App</a></h1>
  <p class="lead">This is a simple shopping list application, powered by JQuery, AngularJS, and Bootstrap.</p>
  <hr class="my-4">
  <p>Enter the items that you want to add to the list below, and choose a quantity (max is 5).</p>
</div>
  
  <div class="container" ng-controller="ShoppingListController as sctrl">
    <div class="row">
      <div class="col-sm-4">
        <form>
          <div class="form-group">
            <label for="nameInput">Enter item name:</label>
            <input class="form-control"
              ng-model="sctrl.name" id="nameInput" placeholder="Item Name">
          </div>
          <div class="form-group">
            <label for="nameInput">Select item quantity:</label>
            <select class="form-control" id="quantityInput" ng-model="sctrl.quantity"
             ng-options="q for q in sctrl.options">
            </select>
          </div>
          <button class="btn btn-primary" ng-click="sctrl.addItem()"
            ng-disabled="!sctrl.name || !sctrl.quantity">Add Item</button>
        </form>
      </div>
      <div class="col-sm-8">
        <!--<shopping-list items=sctrl.items
          on-remove="sctrl.removeItem(index)"></shopping-list>-->
        <shopping-list items=sctrl.items
          on-remove="sctrl.removeItem(index)"
          title="Shopping List #1"></shopping-list>
      </div>
      
    </div>
     
  </div>


<!-- Libraries -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!--<script src="../src/app.js"></script>-->

<!-- Modules -->
<script src="/src/loading-spinner/loading-spinner.module.js"></script>
<script src="/src/shopping-list/shopping-list.module.js"></script>

<!-- 'ShoppingList module artifacts' -->
<script src="/src/shopping-list/shopping-list.controller.js"></script>
<script src="/src/shopping-list/shopping-list.component.js"></script>
<script src="/src/shopping-list/shopping-list.service.js"></script>
<script src="/src/shopping-list/cookie-filter.service.js"></script>

<!-- 'LoadingSpinner module artifacts' -->
<script src="/src/loading-spinner/loading-spinner.component.js"></script>


</body>

</html>